@charset "utf-8";

@font-face {
    font-family: 'Indubitably NF';
    src: url('indubitably-nf 2.ttf') format('truetype'), url('indubitably.regular.otf') format('opentype');
}

@font-face {
    font-family: 'Levnam Light';
    src: url('Levnam W03 Light.ttf') format('truetype'), url('levnam-light.otf') format('opentype');
}

@font-face {
    font-family: 'Louis George Cafe Bold';
    src: url('Louis George Cafe Bold.ttf') format('truetype'), url('Louis George Cafe Bold.otf') format('opentype');
}
 a {
    text-decoration: none;
     text-decoration-color: rgb(42, 165, 69);
} 
*{
    margin: 0;
    padding-left: 0%;
    padding-right: 0;
}
#container{
    width: 900px;
    margin:0 auto;
    border: 1px;
    background-color: #FFFFF0;
}
header{
    /* display: table-cell; */
    width: 900px;

}
/* #subheader{
    font-family: 'Indubitably NF';
    font-style: italic;
    font-size: 22px;
    background-color: rgba(64,64,64,255);
    color: rgba(246,121,44,255);
    height: 30px;



} */
body{
    background-color: rgba(235,178,132,255);
}
#leftcolumn{
    font-family: 'Levnam Light';
    font-size: 14px;
    background-color: rgba(255,255,240,255);
    color: rgba(94,94,94,255);
    float: left;
    height: 760px;
    width: 20%;
    line-height: 21px;
    padding-top: 25px;
}
#menutitle{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(94,94,94,255);
    letter-spacing: 4px;
}
#centralcolumn{
    font-family: 'Levnam Light';
    text-align: left;
    font-size: small;
    background-color: rgba(255,255,240,255);
    color: rgba(94,94,94,255);
    float: left;
    height: 760px;
    width: 56%;
    padding-top: 25px;
    padding-right: 25px;
}
#rightcolumn{
    /* font-family: 'Louis George Cafe Bold'; */
    background-color: rgba(255,255,240,255);
    font-size: small;
    float: left;
    height: 760px;
    width: 15%;
    color: rgba(236,174,128,255);
    padding-top: 25px;
    padding-right: 55px;
    /* line-height: 120%; */
}
h2{
    background-color: rgba(222,128,60,255);
    color: rgba(252,251,255,255);
}
h3{
    background-color: rgba(235,177,131,255);
    color: white;
}
#uppermain{
    display: table;
}
#aboutgec{
    display: table-cell;
    float: right;
    width: 170px;
    height: fit-content;
    /* padding-left: 20px; */
}
#textgec{
    display: table-cell;
    float: left;
    width: 300px;
}

#classes {
    display: table;
}
#runningimg{
    display: table-cell;
    float: left;
    width: fit-content;
}
#runningtext{
    display: table-cell;
    float: right;
    width: 93%;
}
#swimmingimg{
    display: table-cell;
    float: left;
    width: fit-content;
}
#swimmingtext{
    display: table-cell;
    float: right;
    width: 93%;
}
#cyclingimg{
    display: table-cell;
    float: left;
    width: fit-content;
}
#cyclingtext{
    display: table-cell;
    float: right;
    width: 93%;
}
footer{
    background-color: rgba(222,128,60,255);
    width: 1015px;
    color: white;
    /* height: 20px; */
    width: 100%;
}

#containerrun{

}